/* Search Form */
.search-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 70px;
  margin-top: -2rem;
  margin-bottom: 5rem;
  border-radius: 10px;
  overflow: hidden;
}

.search-form.light {
  box-shadow: rgba(132, 221, 248, 0.158) 0px 8px 24px;
}

.search-form.dark {
  box-shadow: rgba(19, 23, 34, 0.356) 0px 4px 15px;
}

.form-control {
  height: 70px;
  display: flex;
  align-items: center;
  border: none;
  position: relative;
  padding: 0;
}

.form-control i {
  color: #538cfd;
  margin-left: 1.5rem;
  margin-right: 0.5rem;
}

.search-form input {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 13px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

.search-input.light {
  color: #414141ab;
}

.search-input.light::placeholder {
  color: #414141ab;
}

.search-input.dark::placeholder {
  color: #f0f0f0e1;
}

.search-input.dark {
  color: #f0f0f0;
}

.form-input:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 100%;
  background: #b4b4b46c;
}

.search-form div:nth-child(3) {
  display: flexbox;
  align-items: center;
}

.full-time-check input {
  width: 3rem;
}

.form-control span {
  margin-right: auto;
  font-weight: 600;
  font-size: 0.9rem;
}

.form-control.dark .full-time {
  color: #dfdfdf;
}

.btn {
  width: 110px;
  height: 45px;
  margin-right: 10px;
  font-size: 0.9rem;
  letter-spacing: 1px;
  transition: 0.3s ease-in;
}

.btn-blue {
  background: #538cfd;
}

.btn-blue:hover {
  background: #ff5151;
  color: #ffffff;
}

/* Jobs Section */
.jobs-items {
  border-radius: 5px;
  overflow: hidden;
}

.job {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem 1.5rem;
  transition: transform 0.3s ease;
}

.job.light {
  border-bottom: 1px solid rgba(236, 236, 236, 0.781);
}

.job.dark {
  border-bottom: 1px solid rgba(52, 64, 85, 0.3);
}

.job:hover {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 3px;
  transform: translateY(-5px);
}

.job-top-info {
  display: flex;
  align-items: center;
}

.job-logo {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 1.5rem;
}

.job-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.job-heading h1 {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.job-sub-title {
  display: flex;
  gap: 2rem;
  color: #8b8b8bad;
  font-size: 14px;
}

.job-sub-title i {
  margin-right: 0.3rem;
}

.job-type {
  background: #53ceff49;
  color: #131722;
  font-weight: 600;
  font-size: 13px;
  padding: 4px 8px;
  border-radius: 8px;
  margin: 0;
  margin-bottom: 0.3rem;
  text-align: center;
}

.job-date {
  font-size: 14px;
  margin: 0;
}

.job-side-info.dark .job-type {
  background: #35c6ffe7;
}

.job.dark .job-heading h1 {
  color: #f0f0f0;
}

.job.dark .job-heading p {
  color: #949494;
}

.job-side-info.dark .job-type {
  color: #dfdfdf;
}

.job-side-info.light .job-date {
  color: #8b8b8bad;
}

.job-side-info.dark .job-date {
  color: #949494;
}

.apply-job {
  width: 700px;
  max-width: 100%;
  padding: 2rem;
  text-align: center;
  background: #ffffff;
}

.no-jobs {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
}

.no-jobs.darkest {
  color: #dfdfdf;
}
