@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: #f4f6fa; */
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

.app {
  background: #fff;
  min-height: 100vh;
}

.dark {
  background: #131722 !important;
}

/* Utilities */

.container {
  width: 900px;
  margin: 0 auto;
}

.pagination-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem auto 3rem;
}

/* Header */

header {
  width: 100%;
  padding: 2rem 3rem 0;
}

.header-wrapper {
  border-radius: 10px;
  width: 100%;
  height: 225px;
  background: #36c6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.header h1 {
  font-weight: 700;
  font-size: 38px;
}

.header h5 {
  font-size: 17px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.logo {
  color: #003b72;
  font-size: 25px;
  font-weight: 700;
}

.dark-mode {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 10px;
}

.dark-mode i {
  color: #003b72;
  font-size: 13px;
}

.toggle input[type="checkbox"] {
  display: none;
}

.shine {
  color: rgb(250, 146, 11) !important;
}

.toggle input:checked + label:before {
  transform: translatex(26px);
}

.toggle label {
  display: block;
  border-radius: 99em;
  width: 50px;
  height: 23px;
  border: 2px solid rgb(139, 139, 139);
  background: #fff;
  position: relative;
  cursor: pointer;
  margin-top: 4px;
}

.toggle label:before {
  content: "";
  display: block;
  position: absolute;
  transition: 0.25s ease-out;
  width: 26px;
  height: 26px;
  background-color: #538cfd;
  border-radius: 50%;
  transform-origin: 50% 50%;
  top: -4px;
  left: -3px;
}

/* Search Form */

.search-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: #ffffff;
  height: 70px;
  box-shadow: rgba(132, 221, 248, 0.158) 0px 8px 24px;
  margin-top: -2rem;
  margin-bottom: 5rem;
  border-radius: 10px;
  overflow: hidden;
}

.form-control {
  height: 70px;
  display: flex;
  align-items: center;
  border: none;
  position: relative;
  padding: 0;
}

.form-control i {
  color: #538cfd;
  margin-left: 1.5rem;
  margin-right: 0.5rem;
}

.search-form input {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 13px;
  width: 100%;
  color: #222222;
}

.form-input:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 100%;
  background: #b4b4b46c;
}

.search-form div:nth-child(3) {
  display: flexbox;
  align-items: center;
}

.full-time-check input {
  width: 3rem;
}

.form-control span {
  margin-right: auto;
  font-weight: 600;
  font-size: 0.9rem;
}

.btn {
  width: 110px;
  height: 45px;
  margin-right: 10px;
  color: #ffffff;
  font-size: 0.9rem;
  letter-spacing: 1px;
  transition: 0.3s ease-in;
}

.btn-blue {
  background: #538cfd;
}

.btn-blue:hover {
  background: #ff5151;
  color: #ffffff;
}

/* Jobs Section */

.job {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem 1.5rem;
  transition: transform 0.3s ease;
  border-bottom: 1px solid rgba(236, 236, 236, 0.781);
}

.job:hover {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  transform: translateY(-5px);
}

.job-top-info {
  display: flex;
  align-items: center;
}

.job-logo {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 1.5rem;
}

.job-logo img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.job-heading h1 {
  font-size: 17px;
  font-weight: 600;
  color: #003b72;
  margin-bottom: 0.7rem;
}

.job-sub-title {
  display: flex;
  gap: 2rem;
  color: #8b8b8bad;
  font-size: 14px;
}

.job-sub-title i {
  margin-right: 0.3rem;
}

.job-type {
  background: #53ceff49;
  color: #131722;
  font-weight: 600;
  font-size: 13px;
  padding: 4px 8px;
  border-radius: 8px;
  margin: 0;
  margin-bottom: 0.3rem;
}

.job-date {
  color: #8b8b8bad;
  font-size: 14px;
  margin: 0;
}

/* Job Detail  */
.job-detail {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

.job-detail.open-modal {
  opacity: 1;
  pointer-events: auto;
}

.apply-job {
  width: 700px;
  max-width: 100%;
  padding: 2rem;
  text-align: center;
  background: #ffffff;
}

/* Single Job Page */

.single-job {
  width: 100vw;
  height: 100vh;
}
